<nav class="navbar navbar-expand-lg fixed-top p-0 position-sticky">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand text-white" href="/"
      ><img src="./assets/images/logo.png" alt="logo" width="65px" /><span
        >YStore</span
      ></a
    >
    <!-- Toggle Btn -->
    <button
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- SideBar -->
    <div
      class="sidebar offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <!-- Sidebar Header -->
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">YStore</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
        <!-- Sidebar Body -->
      </div>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul
          class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3"
        >
          <li class="nav-item mx-2">
            <a
              class="nav-link text-white text-white"
              aria-current="page"
              routerLink="/"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item mx-2">
            <a
              class="nav-link text-white"
              routerLink="/shop"
              routerLinkActive="active"
              >Shop</a
            >
          </li>

          <li class="nav-item mx-2">
            <a
              class="nav-link text-white"
              routerLink="/users"
              routerLinkActive="active"
              >Profile</a
            >
          </li>
        </ul>
        <!-- Login / Sing up -->
        <div
          class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3"
          *ngIf="!isLogged; else logged"
        >
          <a
            class="text-white"
            routerLink="/users/login"
            routerLinkActive="active"
            >Login</a
          >
          <a
            class="text-white text-decoration-none px-3 py-1 rounded-4"
            style="background-color: #04c9cf"
            routerLink="/users/register"
            routerLinkActive="active"
            >Register</a
          >
        </div>
        <ng-template #logged>
          <div
            class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3"
          >
            <a class="text-white">{{ email }}</a>
            <button class="nav-link text-white" (click)="logout()">
              Logout
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
