<div class="container">
  <button type="button" class="btn btn-sm btn-outline-primary">Add</button>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let product of products">
      <div class="card shadow-sm product-card">
        <img
          class="product-img"
          src="{{ product.image }}"
          alt="{{ product.title }}"
        />
        <div class="card-body">
          <h4>Title: {{ product.title }}</h4>
          <span>Rating: {{ product.rating.rate }}</span> |
          <span class="text-body-secondary"
            >Count: {{ product.rating.count }}</span
          >
          <p class="card-text">
            {{ product.description.substring(0, 100) }}...
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                View
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Edit
              </button>
              <button type="button" class="btn btn-sm btn-outline-danger">
                Delete
              </button>
            </div>
            <span class="text-body-secondary">{{
              product.price | currency
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
