.product-img {
  width: 100%;
  /* height: 200px; */
  aspect-ratio: 1/1;
  /* object-fit: cover; */
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

.product-card {
  width: 100%;
  aspect-ratio: 1/1;
  height: 45rem;
  /* background-color: #51afaf;
  background-color: #119aa2;
  background-color: #00898d; */
}

.category:hover {
  background-color: var(--main-color-light);
  color: white;
}

.add-btn {
  border-color: var(--main-color-light);
  color: var(--main-color-light);
}

.add-btn:hover {
  background-color: var(--main-color-light);
  outline-color: var(--main-color-light);
  color: white;
}
