<!--  -->
<div class="container">
  <div class="row">
    <div>
      <h1 i18n>{{ title }} running</h1>
      <button
        type="button"
        class="add-btn btn btn-sm my-5 w-25"
        (click)="addProduct()"
      >
        Add Product
      </button>
    </div>
    <section class="col-3">
      <h5 class="text-warning ms-3" i18n>Type of Categories</h5>
      <ul class="list-group my-3">
        <li
          *ngFor="let category of categories"
          i18n
          class="list-group-item text-start category"
          [class.active]="selectedCategory === category"
          (click)="onCategorySelected(category)"
        >
          {{ category }}
        </li>
      </ul>
    </section>
    <section class="col-9">
      <div class="row row-cols-3 g-3 mb-4">
        <div class="col" *ngFor="let product of products">
          <dialog #deleteConfirm>
            <h1>Are you sure?</h1>
            <button (click)="deleteProd(product.id, deleteConfirm)">Yes</button>
            <button (click)="deleteConfirm.close()">No</button>
          </dialog>
          <app-product-items
            [product]="product"
            (deleteEvent)="deleteConfirm.showModal()"
            (editEvent)="editProd($event)"
          >
          </app-product-items>
        </div>
      </div>

      <div class="d-flex justify-content-center"></div>
    </section>
  </div>
</div>
