<!--  -->
<div class="container">
  <div class="row">
    <button
      type="button"
      class="btn btn-sm btn-outline-primary"
      (click)="addProduct()"
    >
      Add
    </button>
    <section class="col-3">
      <h5 class="text-warning ms-3">Sort</h5>
      <h5 class="text-warning ms-3">Type of Categories</h5>
      <ul class="list-group my-3">
        <li
          *ngFor="let category of categories"
          class="list-group-item"
          (click)="onCategorySelected(category)"
        >
          {{ category }}
        </li>
      </ul>
    </section>
    <section class="col-9">
      <div class="row row-cols-3 g-3 mb-4">
        <div class="col" *ngFor="let product of products">
          <app-product-items [product]="product"></app-product-items>
        </div>
      </div>

      <div class="d-flex justify-content-center"></div>
    </section>
  </div>
</div>

<!--
51AFAF
119AA2
00898D
-->
