<div class="card h-100 shadow-sm" *ngIf="product">
  <dialog #deleteConfirm>
    <h1>Are you sure?</h1>
    <button (click)="deleteProd(product.id, deleteConfirm)">Yes</button>
    <button (click)="deleteConfirm.close()">No</button>
  </dialog>
  <img src="{{ product.image }}" alt="{{ product.title }}" />
  <div class="card-body d-flex flex-column">
    <a href="" class="text-decoration-none">
      <h6 class="text-uppercase">{{ product.title }}</h6>
    </a>
    <span class="mb-2">{{ product.price | currency }}</span>
    <div class="btn-group mt-auto">
      <div class="btn-group">
        <a
          type="button"
          class="btn btn-sm btn-outline-secondary"
          routerLink="/shop/details/{{ product.id }}"
        >
          View
        </a>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="editProd(product.id)"
        >
          Edit
        </button>
        <button
          (click)="deleteConfirm.showModal()"
          type="button"
          class="btn btn-sm btn-outline-danger"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
