<div class="container my-4">
  <div class="row">
    <div class="container container--xs">
      <h1 class="mb-1 text-center">
        {{ editingMode ? "Update User" : "Sign up" }}
      </h1>
      <div class="registration-form woocommerce">
        <h2>Register</h2>

        <form (ngSubmit)="submitForm()" class="register" [formGroup]="form">
          <div formGroupName="name">
            <div
              class="woocommerce-FormRow woocommerce-FormRow--first form-row form-row-first"
            >
              <label for="reg_sr_firstname"
                >First Name <span class="required">*</span></label
              >
              <input
                formControlName="firstname"
                type="text"
                class="woocommerce-Input woocommerce-Input--text input-text form-control"
                name="sr_firstname"
                id="reg_sr_firstname"
                value=""
                required=""
                spellcheck="false"
                data-ms-editor="true"
              />
              <small
                *ngIf="
                  form.get('name')?.get('firstname')?.invalid &&
                  form.get('name')?.get('firstname')?.touched
                "
                class="text-danger"
              >
                This field is required
              </small>
            </div>

            <div
              class="woocommerce-FormRow woocommerce-FormRow--last form-row form-row-last"
            >
              <label for="reg_sr_lastname"
                >Last Name <span class="required">*</span></label
              >
              <input
                formControlName="lastname"
                type="text"
                class="woocommerce-Input woocommerce-Input--text input-text form-control"
                name="sr_lastname"
                id="reg_sr_lastname"
                value=""
                required=""
                spellcheck="false"
                data-ms-editor="true"
              />
              <small
                *ngIf="
                  form.get('name')?.get('lastname')?.invalid &&
                  form.get('name')?.get('lastname')?.touched
                "
                class="text-danger"
              >
                This field is required
              </small>
            </div>
          </div>

          <div
            class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide"
          >
            <label for="reg_email"
              >Email address <span class="required">*</span></label
            >
            <input
              formControlName="email"
              type="email"
              class="woocommerce-Input woocommerce-Input--text input-text form-control"
              name="email"
              id="reg_email"
              value=""
              required=""
            />
            <small
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
              class="text-danger"
            >
              {{
                form.get("email")?.hasError("emailExists")
                  ? "Email already exist"
                  : "Enter valid email"
              }}
            </small>
          </div>

          <div formGroupName="address">
            <div
              class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide"
            >
              <label for="reg_city">City <span class="required">*</span></label>
              <input
                formControlName="city"
                type="text"
                class="woocommerce-Input woocommerce-Input--text input-text form-control"
                name="city"
                id="reg_city"
                value=""
                required=""
              />
              <small
                *ngIf="
                  form.get('address')?.get('city')?.invalid &&
                  form.get('address')?.get('city')?.touched
                "
                class="text-danger"
              >
                This field is required
              </small>
            </div>
          </div>

          <div
            class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide"
          >
            <label for="reg_password"
              >Password <span class="required">*</span></label
            >
            <input
              formControlName="password"
              type="password"
              class="woocommerce-Input woocommerce-Input--text input-text form-control"
              name="password"
              id="reg_password"
              required=""
            />
            <small
              *ngIf="
                form.get('password')?.invalid && form.get('password')?.touched
              "
              class="text-danger"
            >
              This field is required
            </small>
          </div>

          <div
            class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide"
          >
            <label for="reg_confirmPassword"
              >confirmPassword <span class="required">*</span></label
            >
            <input
              formControlName="confirmPassword"
              type="password"
              class="woocommerce-Input woocommerce-Input--text input-text form-control"
              name="confirmPassword"
              id="reg_confirmPassword"
              required=""
            />
            <div class="invalid-feedback">This field is required</div>
          </div>
          <small
            class="text-danger"
            *ngIf="
              form.hasError('passwordMatch') &&
              form.get('confirmPassword')?.touched
            "
            >Password doesn't match</small
          >

          <div class="clear"></div>
          <div class="woocomerce-FormRow form-row">
            <small
              *ngIf="
                form.get('confirmPassword')?.invalid &&
                form.get('confirmPassword')?.touched
              "
              class="text-danger"
            >
              This field is required
            </small>
          </div>
          <button
            type="submit"
            class="btn btn-primary mt-3"
            [disabled]="this.form.invalid"
            name="register"
          >
            {{ editingMode ? "Update" : "Register" }}
          </button>
        </form>
      </div>

      <p class="text-gray-soft text-center small mb-2">
        Already have an account?
        <a routerLink="/users/login">Sign in</a>
      </p>
    </div>
  </div>
</div>
